<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="form-container">
        <h2>Registrar usuario</h2>
        <form id="registerForm" action="/api/sessions/register" method="post">
            <label for="first_name">Nombre</label>
            <input id="first_name" name="first_name" type="text" required>
            
            <label for="last_name">Apellido</label>
            <input id="last_name" name="last_name" type="text" required>
            
            <label for="email">Email</label>
            <input id="email" name="email" type="email" required>
            
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required>
            
            <button type="submit">Enviar</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión aquí</a></p>
    </div>
</body>
</html>
