<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>Bienvenido a Adoptme, una plataforma para la adopción de mascotas.</p>
    
    <div class="button-container">
        <a href="/users" class="button">Ver Usuarios Registrados</a>
        <a href="/pets" class="button">Ver Mascotas Registradas</a>
        <a href="/login" class="button">Iniciar Sesión</a>
        <a href="/register" class="button">Registrarse</a>
    </div>
</body>
</html>
